<h1>pH Logs</h1>
<table>
  <tr>
    <th>Date</th>
    <th>pH</th>
  </tr>
 
  <% @data.each do |t| %>
    <tr>
      <td><%= formatted_date(t.date) %></td>
      <td><%= t.ph %></td>
    </tr>
  <% end %>
</table>
<br>
<%= image_tag(@line_chart) %>
<br>
<%= link_to 'Back to Main Page', records_path %>